<div class="container">
 <div class="snickers">
  <div class="col-md-8">
   <h2><b>Raw Vegan Snickers</b></h2>
   <%= image_tag("snickers_1.jpg", :alt => "snikers recipe") %>
  </div>

  <div class="col-md-4">
  	<h3><b><u>Ingredients</u></b></h3><br>
  	<ul type="circle">
	  <div class="lead"><li>Cashews 200G</li><br>
		  <li>Dates 1/2 Cup </li><br>
		  <li>Agave Nectar 1tbs</li><br>
		  <li>Peanuts 75G</li><br>
		  <li>Cacao Powder 1/4 Cup</li><br>
		  <li>Cacao butter 50G</li><br>
		  <li>Sea Salt 1/2 tsp</li><br>
	  </div>
	</ul>
  </div>
 </div>
</div>