
<div class="container-fluid">
 <div class="spices">
 	<br><br><%= image_tag("natural_spices.jpg", :alt => "spice hero") %><br><br><br>  
	

	<br><h2><u><b>Dried Herbs and Spices</b></u></p></h2><br><br><br>
		<p class="lead"><br><b>Asafoetida</b> (Asafetida) - Used as a digestive aid in Indian cooking, asafoetida has a strong odor that mellows out into a garlic-onion flavor.<br>

		
		<br><b>Allspice</b> - Similar to cloves, but more pungent and deeply flavored. Best used in spice mixes.<br>

		<br><b>Annatto Seeds</b> - A very tough reddish-brown seed with a woodsy aroma and an earthy flavor. Called Achiote Paste (see above) when ground, this is used to flavor many Mexican dishes.<br>

		<br><b>Bay Leaf</b> (also: Indian Bay Leaf) - Adds a woodsy background note to soups and sauces.<br>

		<br><b>Caraway Seed</b> - These anise-tasting seeds are essential for soda bread, sauerkraut, and potato salad.<br>

		<br><b>Cardamom</b> - This warm, aromatic spice is widely used in Indian cuisine. It's also great in baked goods when used in combination with spices like clove and cinnamon.<br>

		<br><b>Cayenne Pepper</b> - Made from dried and ground red chili peppers. Adds a sweet heat to soups, braises, and spice mixes.<br>

		<br><b>Chia Seeds</b> - Nearly flavorless, they can be ground into smoothies, cereals, and baked goods for extra nutrition and texture, or even used as a vegan egg substitute. come check out our chia pudding recipe here<br>

		<br><b>Cinnamon</b> - Found in almost every world cuisine, cinnamon serves double duty as spice in both sweet and savory dishes.<br>

		<br><b>Cloves</b> - Sweet and warming spice. Used most often in baking, but also good with braised meat.<br>

		<br><b>Coriander Seed</b> - Earthy, lemony flavor. Used in a lot of Mexican and Indian dishes.<br>

		<br><b>Cumin</b> - Smoky and earthy. Used in a lot of Southwestern U.S. and Mexican cuisine, as well as North African, Middle Eastern, and Indian.<br>

		<br><b>Fennel Seed</b> - Lightly sweet and licorice flavored. It's excellent with meat dishes, or even chewed on its own as a breath freshener and digestion aid!<br>

		<br><b>Fenugreek</b> - Although this herb smells like maple syrup while cooking, it has a rather bitter, burnt sugar flavor. Found in a lot of Indian and Middle Eastern dishes.<br>

		<br><b>Garlic Powder</b> - Garlic powder is made from dehydrated garlic cloves and can be used to give dishes a sweeter, softer garlic flavor.<br>

		<br><b>Ginger</b> - Ground ginger is made from dehydrated fresh ginger and has a spicy, zesty bite.<br>

		<br><b>Gochugaru</b> - This Korean red pepper spice is hot, sweet, and ever-so-slightly smoky.<br>

		<br><b>Grains of Paradise</b> - These taste like a cross between cardamom, citrus, and black pepper. They add a warming note to many North African dishes.<br>

		<br><b>Kaffir Lime Leaves</b> - Used to flavor curries and many Thai dishes. Can be sold fresh, dry, or frozen.<br>
		
		<br><b>Nutmeg</b> - Sweet and pungent. Great in baked goods, but also adds a warm note to savory dishes.<br>

		<br><b>Nutritional Yeast</b> - Very different from bread yeast, this can be sprinkled onto or into sauces, pastas, and other dishes to add a nutty, cheesy, savory flavor.<br>

		<br><b>Oregano</b> - Robust, somewhat lemony flavor. Used in a lot of Mexican and Mediterranean dishes.<br>

		<br><b>Paprika</b> - Adds a sweet note and a red color. Used in stews and spice blends. There is also a spicy version labeled hot paprika.<br>

		<br><b>Peppercorns</b> - Peppercorns come in a variety of colors (black, white, pink, and green being the most popular). These are pungent and pack a mild heat.<br>

		<br><b>Rosemary</b> - Strong and piney. Great with eggs, beans, and potatoes, as well as grilled meats.<br>

		<br><b>Saffron</b> - Saffron has a subtle but distinct floral flavor and aroma, and it also gives foods a bright yellow color.<br>

		<br><b>Sage</b> - Pine-like flavor, with more lemony and eucalyptus notes than rosemary. Found in a lot of northern Italian cooking.<br>

		<br><b>Smoked Paprika</b> - Adds sweet smokiness to dishes, as well as a red color.<br>

		<br><b>Star Anise</b> - Whole star anise can be used to add a sweet licorice flavor to sauces and soups.<br>
		
		<br><b>Turmeric</b> - Sometimes used more for its yellow color than its flavor, turmeric has a mild woodsy flavor. Can be used in place of saffron in a pinch or for those of us on a budget.<br>

		<br><b>Thyme</b> - Adds a pungent, woodsy flavor. Great as an all-purpose seasoning.</p><br><br><br>
		
        <%= image_tag("herbs.jpg", :alt => "herbs") %>


	<br><br><br><br><h2><u><b>Fresh Herbs</b></u></p></h2>
		<p class="lead"><br><b>Basil</b> (also: Thai Basil) - Highly aromatic with a robust licorice flavor. Excellent in pestos, as a finishing touch on pasta dishes, or stuffed into sandwiches.<br>

		<br><b>Chervil</b> - Delicate anise flavor. Great raw in salads or as a finishing garnish.<br>

		<br><b>Chives</b> - Delicate onion flavor, great as a garnish.<br>

		<br><b>Cilantro</b> - From the coriander plant, cilantro leaves and stems have a pungent, herbaceous flavor. Used in Caribbean, Latin American, and Asian cooking.<br>

		<br><b>Curry Leaves</b> - These pungent leaves are not related to curry powder but impart a similar flavor. Used in Indian, Malaysian, Sri Lankan, Singaporean, and Pakistani cuisine. Used to flavor curries, soups, stews, and chutneys.<br>

		<br><b>Dill</b> - Light and feathery herb with a pungent herb flavor. Use it for pickling, with fish, and over potatoes.<br>

		<br><b>Fenugreek</b> - Although this herb smells like maple syrup while cooking, it has a rather bitter, burnt sugar flavor. Found in a lot of Indian and Middle Eastern dishes.<br>

		<br><b>Lemon Thyme</b> (also: Thyme) - Sweet lemon aroma and a fresh lemony-herbal flavor. This is excellent with poultry and in vinaigrettes.<br>


		<br><b>Marjoram</b> - Floral and woodsy. Try it in sauces, vinaigrettes, and marinades.<br>

		<br><b>Mint</b> - Surprisingly versatile for such an intensely flavored herb. Try it paired with lamb, peas, potatoes, and of course, with chocolate!<br>

		<br><b>Oregano</b> - Robust, somewhat lemony flavor. Used in a lot of Mexican and Mediterranean dishes.<br>

		<br><b>Parsley</b> - Available in flat-leaf (Italian) or curly varieties, this very popular herb is light and grassy in flavor.<br>

		<br><b>Pink Pepper</b> - Small and sweet, these berries are fantastic when marinated with olives or simply sprinkled on shortbread.<br>

		<br><b>Rosemary</b> - Strong and piney. Great with eggs, beans, and potatoes, as well as grilled meats.<br>

		<br><b>Sage</b> - Pine-like flavor, with more lemony and eucalyptus notes than rosemary. Found in a lot of northern Italian cooking.<br>

		

		<br><b>Tarragon</b> - Strong anise flavor. Can be eaten raw in salads or used to flavor tomato dishes, chicken, seafood, or eggs.<br>

		<br><b>Thai Basil</b> (also: Basil) - A spicy, edgier cousin to sweet Italian basil. A must-have for Thai stir-fries, Vietnamese pho, spring rolls, and other South Asian dishes.<br>

		<br><b>Thyme</b> (also: Lemon Thyme) - Adds a pungent, woodsy flavor. Great as an all-purpose seasoning.</p>

		<%= image_tag("spicemix.jpg", :alt => "spice mix") %>

	<h2><u><b>Spice Blends</b></u></p></h2>
		<p class="lead"><br><b>Baharat</b> - Black pepper, cumin, cinnamon, and cloves. Used to flavor soups, tomato sauces, lentils, rice pilafs, and couscous, and can be a rub for meats. (Middle Eastern)<br>

		<br><b>Bebere</b> - Hot peppers, black pepper, fenugreek, ginger, cardamom, coriander, cinnamon, and cloves. Other ingredients may include ajwain, cumin, allspice, nutmeg, paprika, onion, or garlic. Used to flavor slow-cooked stews. (African)<br>

		<br><b>Chili Powder</b> - Ground chilis, cumin, oregano, cayenne, and lots of optional extras to make this seasoning uniquely yours. Use for chili, stew, beans, grilled meat, and tacos. (Mexican/Southwestern U.S.)<br>

		<br><b>Chinese Five-Spice Powder</b> - Star anise, Szechuan peppercorns, fennel, cassia, and clove. Adds sweetness and depth to savory dishes, especially beef, duck, and pork. (Chinese)<br>

		<br><b>Curry Powder</b> - Typically includes turmeric, coriander, cumin, fenugreek, and red pepper, but mixes can vary. Used primarily to quickly flavor curry sauces. (Indian)<br>

		<br><b>Dukkah</b> - Includes nuts (most often hazelnuts), sesame seeds, coriander, and cumin. Great spice rub for lamb, chicken, and fish. (Egyptian)<br>

		<br><b>Garam Masala</b> - Typically includes cinnamon, cardamom, cloves, cumin, coriander, nutmeg, and pepper. Sweeter than curry powder. Also used to season curry sauces. (Indian)</p>

		

		

		
		
		
 </div>
</div>